td {
  border: 2px solid #333;
  height: 100px;
  width: 100px;
  text-align: center;
  vertical-align: center;
  font-family: "Source Code Pro", monospace;
  font-size: 75px;
  cursor: pointer;
}

table {
  left: 50%;
  border-collapse: collapse;
  position: absolute;
  margin-left: -155px;
  top: 50px;
}

.endgame {
  display: none;
  width: 200px;
  top: 120px;
  background-color: rgba(205,133,63, 0.8);
  position: absolute;
  left: 50%;
  margin-left: -100px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 2em;
}
